// colors
$primary: #339ce3;
$main: #1c140d;
$black: #000;
$black2: #121417;
$white: #fff;
$gray: #637887;
$orange: #e8962b;
// fonts
$mainFont: "Work Sans", sans-serif;
$publicSans: "Public Sans", sans-serif;
$roboto: "Roboto", sans-serif;
